.bg-blue {
    background-color: blue;
}

.bg-orange {
    background-color: orange;
}

.bg-red {
    background-color: red;
}

.bg-greenyellow {
    background-color: greenyellow;
}

.bg-violet{
    background-color: violet;
}

.bg-coral{
    background-color: coral;
}